/* Browser reads selector syntax from right to left */

/* Order of Font sources important - keep for reference nb bulletproof fontspring */

@font-face {
  font-family: 'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot/');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
       url('donts/LAKESHOR-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 10px;
  background-color: #ffff00;
}
a {
  /* Declaration- negating default property */
  text-decoration: none;
}
.logo-text {
  background: white;

  text-align: center;
  text-transform: uppercase;
  font-family: lakeshore;
  font-size: 37px;
}
.thumbnail-item + .thumbnail-item {
  margin-top: 10px;
}
.thumbnail-item {
  display: block;
  /*Fallback values*/
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}
.thumbnail-list {
list-style: none;
padding: 0;
}
.thumbnail-image {
  display: block;
  width: 100%;
}
.thumbnail-title {
  display: block;
  margin: 0;
  padding: 4px 10px;


  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);

  font-size: 18px;
}
